# ----------------------------------------------------------------
# 운영체제(OS) 자동 생성 파일
# ----------------------------------------------------------------
# macOS 사용자에게 필수
.DS_Store


# ----------------------------------------------------------------
# 개발 환경 및 에디터 설정 파일
# ----------------------------------------------------------------
# VSCode 설정 폴더
.vscode/


# ----------------------------------------------------------------
# 기타 일반적인 임시 파일
# ----------------------------------------------------------------
# 로그 파일
*.log

# 임시 파일
*.tmp
*.swp