# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# vscode settings
.vscode/

# Node.js (만약 npm/yarn 프로젝트라면)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (만약 Python 쓰신다면)
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# Logs
*.log

# Other
*.swp
